before_install:
  - date
  - cat /proc/cpuinfo
  - cd ${HOME}
  - sudo add-apt-repository -y ppa:terry.guo/gcc-arm-embedded
  - sudo apt-get -qq -y update
  - sudo apt-get -qq -y install gcc-arm-none-eabi libgmp-dev
  - git clone https://github.com/githwxi/ATS-Postiats.git
  - ./ATS-Postiats/travis-ci/installpkg.sh
  # Build ATS1
  - export ATSHOME=${HOME}/ats-lang-anairiats-0.2.11
  - export ATSHOMERELOC=ATS-0.2.11
  - ./ATS-Postiats/travis-ci/ats1_setup.sh 0.2.11
  - cd $(ATSHOME) && ./configure && make all
  # Build ATS2
  - export PATSHOME=${HOME}/ATS-Postiats
  - export PATSHOMERELOC=${PATSHOME}
  - export PATH=${PATH}:${PATSHOME}/bin
  - cd ${PATSHOME} && make -f Makefile_devl all
script:
  - cd ${TRAVIS_BUILD_DIR}
  - make
after_script:
  - date
